*{
    margin:0px;
    padding:0px;
}

.nav{
    height:55px;
    width:100%;
    display:flex;
    align-items: center;
    gap:287px;
}
.nav_section1{
    display:flex;
    gap:30px;
}

.nav_section_1_1{
    display:flex;
    gap:20px;
    align-items: center;
}

.nav_section_1_2{
    display:flex;
    gap:20px;
    align-items: center;
}


.nav_section2{
    display:flex;
    gap:27px;
}

.nav_section_2_2{
    display:flex;
    gap:10px;
    align-items: center;
}

.nav_section_2_3{
    display:flex;
    align-items:center;
    margin-left:-10px;
}

.nav_section_2_4{
    display:flex;
    align-items: center;
    margin-left:-10px;
}


.burger_icon{
    display:none;
}
.azure_in_the_nav{
    font-family: 'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #1a1a1f;
    font-weight:800;
}

.azure_in_the_nav:hover{
    text-decoration:underline;
}

.window_icon{
    height:24px;
    width:auto;
    padding-left:10px;
}

.explore{
    display:inline-block;
}

.explore_text{
    font-family:'BAPIMDL2','MWF-MORAY-MDL2';
    font-size:13px;
    font-weight:400;
    color:#1a1a1f;
    text-decoration:none;
    cursor:pointer;
}

.explore_text:hover{
    text-decoration: underline;
}

.products{
    display:inline-block;
}

.products_text{
    font-family:'BAPIMDL2','MWF-MORAY-MDL2';
    font-size:13px;
    font-weight:400;
    color:#1a1a1f;
    text-decoration:none;
    cursor:pointer;
}

.products_text:hover{
    text-decoration:underline;
}

.solution{
    display:inline-block;
}

.solutions_text{
    font-family:'BAPIMDL2','MWF-MORAY-MDL2';
    font-size:13px;
    font-weight:400;
    color:#1a1a1f;
    text-decoration:none;
    cursor:pointer;
}

.solutions_text:hover{
    text-decoration:underline;
}

.pricing{
    display:inline-block;
}

.pricing_text{
    font-family:'BAPIMDL2','MWF-MORAY-MDL2';
    font-size:13px;
    font-weight:400;
    color:#1a1a1f;
    text-decoration:none;
    cursor:pointer;
}

.pricing_text:hover{
    text-decoration:underline;
}

.partners{
    display:inline-block;
}

.partners_text{
    font-family:'BAPIMDL2','MWF-MORAY-MDL2';
    font-size: 13px;
    font-weight:400;
    color:#1a1a1f;
    text-decoration:none;
    cursor:pointer;
}

.partner_text:hover{
    text-decoration:underline;
}

.resources{
    display:inline-block;
}

.resources_text{
    font-family:'BAPIMDL2','MWF-MORAY-MDL2';
    font-size:13px;
    font-weight:400;
    color:#1a1a1f;
    text-decoration:none;
    cursor:pointer;
}

.resources_text:hover{
    text-decoration:underline;
}

.search{
    width:120px;
    background-color:rgb(230, 240, 238);
    border-radius:5px;
    border:.1px solid #27272b;
    line-height:1.5;
    height:30px;
}

.search_input{
    width:100px;
    border-style: none;
    background-color:transparent;
}

.search_icon{
    text-align:right;
    margin-top:-19px;
    padding-right:5px;
}



.docs{
    display:inline-block;
}

.docs_text{
    font-family:'BAPIMDL2','MWF-MORAY-MDL2';
    font-size:13px;
    font-weight:400;
    color:#1a1a1f;
    text-decoration:none;
    cursor:pointer;
}

.docs_text:hover{
    text-decoration:none;
}

.support{
    display:inline-block;
}

.support_text{
    font-family:'BAPIMDL2','MWF-MORAY-MDL2';
    font-size:13px;
    font-weight:400;
    color:#1a1a1f;
    text-decoration:none;
    cursor:pointer;
}

.support_text:hover{
    text-decoration:underline;
}

.contact_sales{
    display:inline-block;
}

.contact_sales_text{
    font-family:'BAPIMDL2','MWF-MORAY-MDL2';
    font-size:13px;
    font-weight:400;
    color:#1a1a1f;
    text-decoration:none;
    cursor:pointer;
}

.contact_sales_text:hover{
    text-decoration:underline;
}

.account{
    height:30px;
    background-color:#89c402;
    border:1px solid #6f9e02;
    border-radius:4px;
    color:#1a1a1f;
    display:inline-block;
    
}

.account_text{
    font-size:12px;
    font-weight:600;
    line-height:1;
    text-align:center;
    font-family: 'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
    cursor:pointer;
    text-decoration:none;
    padding:10px;
}

.account_text:hover{
    text-decoration:underline;
}


.sign_in{
    font-size:13px;
    font-weight:400;
    font-family:'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height:1;
    color:#1a1a1f;
    text-decoration:none;
}

.sign_in:hover{
    text-decoration:underline;
}


.division2{
    height:47px;
    width:100%;
    background-color:#0078d4;
}

.division2_text{
    color:white;
    text-decoration:none;
    font-size:14px;
    font-weight:600;
    font-family:'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
    display:flex;
    justify-content: center;
    padding-top:17px;
}

.division2_text:hover{
    text-decoration:underline;
}



 /* .banner1{
    width: 100vw;
    height:72vh;
background-image: url("https://azurecomcdn.azureedge.net/cvt-493701653c65826061dc17c66113eb5d9e70cd831a30707034222f935a1a140d/images/page/home/hero-desktop.webp");
background-size:cover;
}  */


.banner{
    width:100%;
    display:flex;
    flex-direction: column;
    gap:20px;
    width: 100%;
    height:80vh;
    background-image: url("https://azurecomcdn.azureedge.net/cvt-493701653c65826061dc17c66113eb5d9e70cd831a30707034222f935a1a140d/images/page/home/hero-desktop.webp");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 50%;
    text-align:left;
    padding-top:75px;
}

.invent{
    padding-left:15px;
    font-size:20px;
    color:#0062ad;
    font-weight:600;
    line-height:1.3;
    font-family:'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;

}

.main_heading{
    font-family:'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 54px;
    color:#243a5e;
    font-weight:600;
    line-height:1.1;
    padding-left:15px;
    margin-top:-10px;
}

.build{
    color:#243a5e;
    font-size:18px;
    font-weight:400;
    line-height:1.3;
    font-family:'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
    padding-left:15px;
    margin-top:-10px;
}

.banner_buttons{
    display:flex;
    gap:26px;
    padding-left:15px;
    margin-top:15px;
}

.get_started{
    background-color:#0078d4;
    border:1px solid #0078d4;
    border-radius:4px;
    color: white;
    font-size:14px;
    font-weight:600;
    text-align:center;
    text-decoration:none;
    line-height:1.5;
    font-family:'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
    padding:10px 16px;
    cursor:pointer;

}

.get_started:hover{
    text-decoration:underline;
}

.try_azure{
    background-color:transparent;
    border:1px solid #0078d4;
    border-radius:4px;
    color:#0062ad;
    font-size:14px;
    font-weight:600;
    padding:10px 16px;
    text-align:center;
    text-decoration:none;
    line-height:1.5;
    font-family:'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif

}

.try_azure:hover{
    text-decoration:underline;
    background-color:#0078d4;
    color:white;
}

.on_premises{
    width:100%;
    height:90px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:16px;
    font-weight:400;
    line-height:1.5;
    color:#1a1a1f;
    font-family:'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.microsoft{
    width:48%;
    height:368px;
    background-image:url(images/join-now.png);
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size:cover;
    display:flex;
    flex-direction:column;
    gap:15px;
    border-radius:6px;
    border:1px solid transparent;
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    color:#4c4c51;
    cursor:pointer;
}

.microsoft:hover .microsoft_heading {
    text-decoration: underline;
}

.micro_heading{
    padding-top:130px;
    margin-left:25px;
}

.microsoft_heading{
    font-size:36px;
    color:#50e6ff;
    text-decoration:none;
    background-color:transparent;
    cursor:pointer;font-weight:600;
    line-height:1.2;
    font-family:'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
    
}



.microsoft_text{
    color:#fff;
    cursor:pointer;
    font-size:16px;
    font-weight: 400px;
    line-height:1.5;
    font-family:'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
    padding-left:25px;
}

.devolep{
    display:flex;
    gap:10px;
    width:98%;
    height:188px;
    cursor:pointer;
    border:1px solid transparent;
    border-radius:6px;
    box-shadow:0 2px 5px rgb(0 0 0 /14%);
   
    
}

.devolep:hover .develop_heading{
    text-decoration:underline;
}

.devolep_image{
    width:170px;
    height:188px;
}

.develop_heading{
    font-family:'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
    color:#0062ad;
    cursor:pointer;
    font-size:20px;
    font-weight:600;
    line-height:1.3;
    text-decoration:none;
}


.devolep_text{
    cursor:pointer;
    color:#4c4c51;
    font-size:16px;
    font-weight:400;
    line-height:1.5;
    font-family:'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
}


.devolep_card{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:15px;
}

.accelerate{
    display:flex;
    gap:10px;
    width:98%;
    height:188px;
    cursor:pointer;
    border:1px solid transparent;
    border-radius:6px;
    box-shadow:0 2px 5px rgb(0 0 0 /14%);
}

.accelerate:hover .accelerate_heading{
    text-decoration:underline;
}

.accelerate_image{
    width:183px;
    height:188px;
}

.accelerate_card{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:15px;
}

.accelerate_heading{
    font-family:'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
    color:#0062ad;
    cursor:pointer;
    font-size:20px;
    font-weight:600;
    line-height:1.3;
    text-decoration:none;
}

.accelerate_text{
    cursor:pointer;
    color:#4c4c51;
    font-size:16px;
    font-weight:400;
    line-height:1.5;
    font-family:'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.card_section1{
    display:flex;
    gap:30px;
}

.card_section1_1{
    display:flex;
    flex-direction:column;
    gap:20px;
}